@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #c8c8c8;
}

input,
button,
.form-control {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding: 4px 8px;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  width: 90%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 50px 0px;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.footer {
  padding: 36px;
  font-size: 0.6em;
  font-weight: 600;
  color: #767676;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer span {
  padding: 0px 12px;
}
.footer br {
  display: none;
}

small {
  color: #767676;
  font-size: 0.8em;
  display: block;
  margin-top: 20px;
}

.lazy {
  animation: fadein 1s;
}

.left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 24px 24px 24px 0px;
}

.right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 24px 24px 0px;
}

.heading-text {
  font-size: 48px;
  line-height: 120%;
  color: white;
  margin: 0px 0px 12px;
  font-family: "Playfair Display", sans-serif;
  text-align: left;
  width: 100%;
}
.left .content-text {
  margin-right: 20px;
}
.content-text {
  padding: 0px;
  margin: 8px 0px;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* background-color: white; */
  background-image: url("assets/oath-b1.png");
}

.done {
  background-image: url("assets/oath-b2.png");
}

.main-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-form input,
.main-form .react-tel-input .form-control {
  background: #212121;
  color: white;
  border: 0px solid white;
  border-radius: 6px;
}

.main-form .react-tel-input .flag-dropdown {
  background-color: transparent;
  border: none;
}

.main-form-top input {
  /* font-size: 24px;
  font-weight: bold; */
  padding: 16px 0px;
  background: transparent;
}

.main-form-top input:focus {
  outline: none;
}

.main-form-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.main-form-bottom label:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.main-form label {
  display: flex;
  flex-direction: column;
  margin: 12px 0px 0px;
  font-size: 0.8em;
}

.main-form-bottom label:nth-child(3),
.main-form-bottom label:nth-child(5) {
  margin-left: 10px;
}

.main-form input {
  height: 29px;
  margin-top: 4px;
}

.main-form .react-tel-input {
  margin-top: 4px;
}

.main-form .react-tel-input .form-control {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .container {
    height: auto;
    min-height: 100vh;
  }
  .content {
    flex-direction: column;
    align-items: stretch;
  }
  .left,
  .right {
    width: unset;
    align-items: flex-start;
  }

  .main-form-bottom {
    display: unset;
  }
  .content-text,
  input,
  label {
    font-size: 16px;
  }

  .left .content-text {
    margin-right: 0px;
    margin-top: 0px;
  }

  .main-form-bottom label:nth-child(3),
  .main-form-bottom label:nth-child(5) {
    margin-left: 0px;
  }
  .heading-text {
    font-size: 42px;
  }
  button {
    font-size: 16px !important;
  }

  .footer {
    align-self: flex-start;
    padding-left: 5%;
  }

  .footer span {
    display: none;
  }
  .footer br {
    display: block;
  }
}

button {
  text-transform: uppercase;
  padding: 10px 32px;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.home-button {
  background: black;
  color: white;
}

.pledge-button {
  background: white;
  color: black;
}

.done-button {
  background: white;
  color: black;
  border-color: black;
}

.done-page .container {
  background-color: white;
}
.done-page .heading-text {
  color: black;
}
.done-page .content-text {
  color: black;
}
.done-page .circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
}
.done-page a {
  color: black;
}
.prompt {
  margin: 20px 0px;
  /* font-style: italic; */
}
