.container {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 90%;
  display: flex;
  max-width: 1000px;
  margin: 50px 0px;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading-text {
  font-size: 48px;
  color: white;
  margin: 0px;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
.left .content-text {
  margin-right: 20px;
}
.content-text {
  color: white;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
}

.main-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-form-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.main-form label {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}
.main-form-bottom label:nth-child(4),
.main-form-bottom label:nth-child(2) {
  margin-left: 10px;
}

.main-form input {
  height: 29px;
  margin: 10px 0px;
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    min-height: 100vh;
  }
  .content {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }

  .main-form-bottom {
    display: unset;
  }
  .content-text {
    font-size: 18px;
  }

  .left .content-text {
    margin-right: 0px;
    margin-top: 0px;
  }

  .main-form-bottom label:nth-child(4),
  .main-form-bottom label:nth-child(2) {
    margin-left: 0px;
  }
  .heading-text {
    font-size: 22px;
    margin-top: 50px;
  }
  .home-button,
  .pledge-button {
    font-size: 16px !important;
  }
}

.home-button {
  background: black;
  padding: 10px 26px;
  border: 5px solid white;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
  font-size: 36px;
}

.pledge-button {
  background: white;
  border-radius: 50px;
  border: 0px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
  font-size: 36px;
  padding: 10px 26px;
}

.done-page .container {
  background-color: white;
}
.done-page .heading-text {
  color: black;
}
.done-page .content-text {
  color: black;
}
.done-page .circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
}
