.container {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 90%;
  display: flex;
  max-width: 1000px;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading-text {
  font-size: 40px;
  color: white;
  margin: 0px;
}
.content-text {
  color: white;
  padding: 0px;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
}

.main-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-form-bottom {
  display: flex;
  width: 100%;
}

.main-form-bottom-left {
  width: 50%;
}

.main-form-bottom-right {
  width: 50%;
  margin-left: 10px;
}

.main-form label {
  color: white;
  display: flex;
  flex-direction: column;
}

.main-form input {
  height: 29px;
  margin: 10px 0px;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }

  .main-form-bottom {
    display: unset;
  }

  .main-form-bottom-left {
    width: 100%;
  }

  .main-form-bottom-right {
    width: 100%;
    margin-left: 0px;
  }
}
